* {
    padding: 0;
    margin:0;
    margin-right: 0px;
    text-decoration: none;
}

body{
    background: rgb(251, 251, 149);
    /* margin-left: 60px; */
    height: 100%;
    left: 60px;   
    overflow-x: hidden; 
}

/* header */

    header{
        /* margin-left: 60px; */
        width:100%;
        height: 80px;
        left:60px;
        background: gold;
        display: flex;
        align-items: center ;
        position: fixed;
        top: 0;
        z-index: 200;
        
    }

   /*  header a#letter{
        position: fixed;
        left: 85%;
        right: 15%;
        font-size: 35px;
        color:black;
        
    } */


    header #login{
        position: fixed;
        left: 91%;
        right: 10%;
        font-size: 35px;
        color: black;
    }

    header #menu_login{
        position: fixed;
        right: 10px;
        top: 60px;
        width: 160px;
        height: 114px;
        border-radius: 25px;
        background: black;
        border: 2px solid #ffc107;
        visibility: hidden;
    }

    header #opciones_menu_login{
        position: absolute;
        list-style: none;
        top:15px;
        left:0;
        
    } 

    header #opciones_menu_login li{
        /* margin-left: 4px; */
        width: 160px;
        height: 30px; 
        overflow: hidden;
        
    }

    header #opciones_menu_login li a{
        margin-left: 20px;
    }

    header #opciones_menu_login li:hover{
        background: rgba(124, 124, 124, 0.4);
        overflow: hidden;
    } 


    header .name h1{
        position: fixed;
        top:15px;
    }


    header .name h3{
        position:fixed;
        top: 40px      
    }


    .icon__menu{
        width: 50px;
        height: 80px;
        position: relative; 
    }


    .icon__menu span{
        height: 45px;
        width: 40px;
        font-size: 40px;
        cursor: pointer;
        position: absolute;
        top: 15px;
        left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

/* menu lateral */


    .menu__side{
        width: 60px;
        height: 100%;
        background:black;
        position:fixed;
        top: 0;
        left: 0;
        color: gold;
        z-index: 300; 
        overflow: hidden;
    }

    .name__page #logo, #logo_foot{
        color: gold;
        width: 220px;
           
    }

    .logo_header, .foot__page {
        font-size: 50px; 
        margin-left: 5px;
    }

    .name__page{
        width: 220px;
        height: 190px;
        /* 
        margin-top: 5px;
        margin-left: 5px; */
    }


    .options__menu button:hover{
        background:#FFDF00;
    }

   

    .name__page #nombre{
        width: 220px;
        text-align: center;
        font-size: 30px; 
        visibility: hidden;   
    }

    .options__menu{
        position: relative;
        width: 60px;
        height: 50%;
    }

    .options__menu button{
        width: 220px;
        height: 50px;
        left: 0;
        margin-bottom: 40px ;
        border: none;
        background: #d1b500  ;
        cursor: pointer;
        
    }


    .options__menu .option{
        display: flex;
        align-items: center;  
        height:50px;
    }

    .options__menu .option #icon{
        width: 50px;
        height: 50px; 
        background: black;
        border-radius: 100%;
        margin-right: 5px;
        margin-left: 5px;
    }
    
    .options__menu .option #icon i{
        font-size: 25px;
        margin-top: 10px;
        color: white;
        
    
    }

    .options__menu .option .nombreOpcion{
        height: 50px;
        width: 160px;
       /*  margin-left: 10px; */
        /* font-weight:800; */
        position: relative;;
        
    }

    .options__menu .option h4{
        position: absolute;
        color: black;
        font-size: 15px;
        margin-top: 16.5px;
        margin-left: 25px;
        
        
        
    }



    .foot__page{
        /* width: 220px; */
        position:fixed;
        bottom: 0;   
    } 

     

/* DESPLIEGUE LATERAL*/

    .body_move{
        margin-left: 220px;
    }

    .header_move{
        left: 220px;
    } 

    .menu__side_move{
        
        width: 220px ;
    }

    .logo__move{
        text-align: center;
        font-size: 100px  
    }

    .logoFoot__move{
        text-align: center;
        font-size: 50px;
    } 

    
  


   

/* section */


    section{
        /* margin: 80px 0px 0px 60px; */
        top:80px;
        left: 60px;
        width: 100%;
        height: 100%; 
        /* position: fixed; */
        position: relative;
    }

    /* Agregar pelicula */
        
        section .add_movie{
            height: 30px;
            position: absolute;
            top: 50px;
            left: 60px;
            /* 
            margin: 50px 0px 40px 65px; */
        }


        section form#form_Add{
            width: 100%;
            height: 100%;
            position: absolute;
            top:110px;
            left: 60px;

            /* margin: 0px 65px; */
            display:flex;
        }

        form#form_Add .left{
            height: 100%;
            width: 40%;
              
        }

        form#form_Add .right{
            height: 100%;
            width: 40%;
           
        }

        form#form_Add .right #contenedor-right{
           display: flex;
        }



        form#form_Add .name, .duration, .director, .genre, .synopsis, .cover, .trailer, .estreno, .actors{
            width: 600px;
        }


        form#form_Add label{
            width:80px ;
            height: 20px;
            margin-bottom: 10px;
            display:inline-block;   
        }


        form#form_Add input{
            width: 60%;
        }


        form#form_Add .synopsis {
            display: flex;
            height:240px;
        }

        form#form_Add .synopsis #textSynopsis{
            margin-left: 4px;
            width: 60%;
        
        }


        form#form_Add .cover, .pancarta{
            display: flex;
            /* height:420px;  */ 
            
        }

        form#form_Add .cover #coverBox{
            height: 210px;
            width: 30%;
            margin-bottom: 10px;
            border: 0.2px solid rgb(121, 121, 121); 
            cursor: pointer;
            background: white;
        }

        form#form_Add .pancarta #caja_pancarta{
            height: 230px;
            width: 70%;
            border: 0.2px solid rgb(121, 121, 121); 
            cursor: pointer;
            background: white;
            

        }


       /*  form#form_Add .cover input{
            margin-left: 4px;
            
            
        }  */


        .add #submitAdd{
            width:100px;
            margin: 10px 0px 10px 344px;
        }

        section #form_Add .image, #image{
            width: 100%;
            height: 210px;
            border: none;
        }

       /*  section #form_Add  #image{
            margin: 10px;
        } */


        section #form_Add #cont_image_pancarta, #image_pancarta{
            width: 100%;
            height: 230px;
            border: none;
            
        }

        section #form_Add #cont_image_pancarta .pancarta{
            width: 100%;
            height: 230px;
            border: none;
            
        }

       /*  section #form_Add .image_pancarta{
            width: 100%;
            height: 230px;
            border: none;
            
        } */

        section .add {
            position:absolute ;
            top:500px;
            left: 10%; 
        }

        section .add #submitAdd{
            height: 40px;
            width: 200px;
        }



    /* pelicula Dashboard*/

        section .movie{
            height: 30px;
            margin: 50px 0px 40px 65px;
        }

        section .searchMovie{
            margin-left: 65px;
            display: flex;
            align-items: center;
        }

        section .searchMovie label{
            margin-right: 100px;
        }

        section .searchMovie input#searchBox{
            height: 20px;
            width: 300px;
            margin-right: 40px;
        }

        section .searchMovie input#searchButton{
            height: 25px;
            width: 100px;
        }


        section table#tableOfContentsP{
            margin-top: 30px;
            margin-left: 25px;
            width: 90%;   
           
        }

        section button{
            border: none;
            background: none; 
            color: blue;}

        section .mostrar_sinopsis{
            visibility: hidden;  
            display: grid;
            position: fixed;
            max-width: 250px;
        }  

        section .mostrar_sinopsis p{
            border: 1px solid black;
            background: white;
            max-width: 250px;
        }
        
        section .mostrar_caratula{
            visibility: hidden; 
            border: 1px solid black;
            position: fixed;
            width: 250px;
            height: 350px;
            
        }    

    /* Usuarios*/

        section .user{
            height: 30px;
            top:50px;
            left:65px;
            /* margin: 50px 0px 40px 65px; */
            position: absolute;
        }

        section .searchUser{
            /* margin: 115px 0px 40px 65px; */
            top:115px;
            left: 65px;
            display: flex;
            align-items: center;
            position: absolute;
        }

        section .searchUser label{
            margin-right: 100px;
        }

        section .searchUser input#searchBox{
            height: 20px;
            width: 300px;
            margin-right: 40px;
        }

        section .searchUser input#searchButton{
            height: 25px;
            width: 100px;
        }

                
        section table#tableOfContentsU{
            width: 90%;
            position: absolute;
            top: 180px;
            left: 40px;
          
            
        }

        section table#tableOfContentsU, th ,td{
            text-align: left;
            /* border: 1px solid; */ 
        }



    /* Funciones */

        section .funciones{
            height: 30px;
            margin: 50px 0px 40px 65px;
        }

        section .subtitulo{
            height: 25px;
            margin: 20px 0px 20px 65px;
        }

        section #add_funcion{
            margin-left: 65px;
        }

        section #add_funcion label{
            display: inline-flex;
            width: 100px;
            margin-bottom: 10px;
        }

        section span#msj{
            margin-left: 105px;
            display: flex;
            font-size: 14px;
        }

        section input#Agregar{
            margin-left: 102px;
            margin-top: 15px;
            height: 20px;
            width: 100px;

        }

        section table#tableOfContentsF{
            margin-top: 30px;
            margin-left: 25px;
            width: 80%;
            
        }
        
        section table#tableOfContentsF, th ,td{
            text-align: left; 
        }
        
        