.textprincipal{
    color:#ffc107
}
.navbar-collapse{
    flex-grow: 0;
}
.container{
    max-width:none !important;
}
.navbar-brand{
    padding-right: 25rem;
}
.bt1{
    margin-right:3rem;
}
.bt2{
    margin-right:7rem;
}
.btn{
    height: 1.5rem;
    padding-top:0rem;
    padding-bottom:0rem;
    border-radius: 20px;
}
.barrabusqueda{
    border-radius: 20px;
    border-color: #ffc107;
}
.me-2{
    height:1.5rem;
}
.iconos{
    font-size: 1.5rem;
    text-align:center;
    color:white;
}
.fa-contao{
    text-align: left;
    font-size:3rem;
    color:#ffc107;
}
.logo{
    margin-top: 0;
    position: relative;
    font-size:4rem;
    color: #ffc107;
    padding-bottom: 0rem;
}
.fixed-top{
    height: 5rem;
}
.container{
    max-width: 1365px;
}
.textfoot{
    font-size: .8rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 26rem;
    margin-bottom: 0;
    color: white;
    display: block;
}
.textfoot2{
    padding-right: 0rem;
    justify-content: right;
    display: flex;
}
.footer{
    height: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
.col{
      align-self: center;
  }
.cuerpopagina{
    padding-top: 6rem;
    padding-bottom:6rem;
}
.img-move{
    scroll-padding-left: 0.5rem;
}
.modal-footer, .modal-header{
    background-color: black;
    color:#ffc107;
    justify-content:center;
}
.btn-close{
    background-color:#ffc107;
    color: black;
}
.modal-content{
    border:4px solid;
    border-color: black;
    border-radius: 40px;
    overflow:auto;
    width: max-content;
}
.modal-dialog{
    float: right;
    padding-right: 3rem;
    padding-top: 3rem;
}
.btlogin{
    background-color: black;
    height: 2rem;
    border-radius: 20px;
    border-color:#ffc107;
    width: 8rem;
    margin-left: auto;
    margin-right: auto;
}
.cuerporegistro{
    width: 50%;
    margin-right: auto;
    margin-left:auto;
}
.barralogin{
    background-color:lightgoldenrodyellow;
    border: none;
}
.inputregistro{
    background-color:lightgoldenrodyellow;
    display: flex;
    width:-moz-available;
}
.informacion{
    padding-top: 5rem;
    padding-left: 5rem;
}
.icon-user{
    position: relative;
    font-size:2rem;
    color: #ffc107;
}
.dropusuario{
    border-radius: 2rem;
    border-color: #ffc107;
    border-width: 2px;
    background-color: black;
    opacity: none;
}
.droptext{
    color: #ffc107;
}

.imagenbusqueda{
    width:300px;
    height: 400px;
}

.divbusqueda{
    margin-bottom: 3rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    display: inline-block;
}
.botonverbus{
    border-radius: 57px;
    border-width: 2px;
    border-color: rgb(245,196,20);
    background: rgb(0,0,0);
    color: rgb(245,196,20);
    display: inline-block;
    border: 1px solid;
}