.contenedor{
    display: flex;
    justify-content: center;
}

form{
    width: 900px 1200px;
}

input, select{
    background: none;
    padding: 10px 10px 1px 10px;
    display: flex;
    width: 500px;
    max-width: 100%;
    min-width: 25%;
    border: 1px solid;
    margin: 5px;
}

.opcion {
    border-radius: 70px;
    border-width: 2px;
    border-color: rgb(245,196,20);
    background: rgb(0,0,0);
    color: rgb(245,196,20);
    padding: .3rem .8rem;
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    margin-top: 10px;
    margin-left: 2rem;
    margin-left: 2rem;
}