main{
    padding-bottom: 7rem;
}

.background{
    width: 100%;
    height:55%;
    position: absolute;
    top: 90px;
}

.image_movie{
    width: 350px;
    height:550px;
    border-radius: 5px;
    position:absolute;
    left: 80px;
    top: 110px;
}

.contenedor-video{
   Position: relative;
   overflow: hidden;
   padding-top:56.25%;
}

.contenedor-video iframe{
 Position:absolute;
 top: 0;
 left:850px;
 width:50%; 
 height:45%;
}
.Cuadrado{
    width: 464px;
    height:1100px;
    background: rgb(245, 196, 20);
    position: absolute;
    left: 30px;
    top: 0px;
}
.Cuadrado2{
    width: 1200px;
    height:350px;
    background: white;
    position: absolute;
    left: 600px;
    top: 660px;
}
.Cuadrado3{
    width: 250px;
    height:250px;
    background: white;
    position: absolute;
    left: 250px;
    top: 170px;
}