{% extends "dashboard.html" %}

{% block contenido %}
<div class="funciones">
    <h1> FUNCIONES </h1>
</div>

<div class="subtitulo">
    <h3>Agregar Función</h3>

</div>


<form id="add_funcion">
    <div class="sala">
        <label for=""> Sala: </label>
        <input type="text" id="sala">
    </div>

    <div class="hora">
        <label for=""> Hora: </label>
        <input type="text" id="hora">
    </div>

    <div class="capacidad">
        <label for=""> Capacidad: </label>
        <input type="text" id="capacidad">
    </div>

    <div class="pelicula">
        <label for=""> película: </label>
        <input type="text" id="pelicula">
    </div>

    <input type="submit" id="Agregar" value="Agregar">

</form>

<table id="tableOfContentsF"> 
    <tr>
        <th> Sala</th>
        <th> Hora</th>
        <th> Capacidad </th>
        <th> Pelicula</th>
        <th></th>
        <th></th>
        
    </tr>

    <!-- <tr>
        <td>texto1</td>
        <td>texto1</td>
        <td>texto1</td>
        <td>texto1</td>
        <td>
            <button>
                Editar
            </button>

            <button id="eliminar">
                Eliminar
            </button>
        </td>
    </tr>  -->
    
</table>

{% endblock %}