{% extends "dashboard.html" %}

{% block contenido %}
<div class="movie">
    <h1> PELICULAS </h1>
</div>

<div class="searchMovie">
    <label for=""> 
        <h2>Buscar pelicula:</h2> 
    </label>
    <form action="/peliculas" method="post">
    <input type="text" id="searchBox" name="nombrePelicula">
    <input type="submit" id="searchButton" value="Buscar">
    </form>
</div>

<table id="tableOfContentsP"> 
    <tr>
        <th>Id</th>
        <th>Nombre </th>
        <th>Duración</th>
        <th>Director</th>
        <th>Genero</th>
        <th>Sinopsis</th>
        <th>Caratula</th>
    </tr>

    {% for peli in tablapeli %}
    <tr>
        <td>{{peli[0]}}</td>
        <td>{{peli[1]}}</td>
        <td>{{peli[2]}}</td>
        <td>{{peli[3]}}</td>
        <td>{{peli[4]}}</td>
        <td><a href="">ver</a></td>
        <td><a href="">ver</a></td>
        <td><a href="/peliculas/{{peli[0]}}/Update" style="color: blue;">Editar</a></td>
        <td><a href="/peliculas/{{peli[0]}}/Delete" style="color: blue;">Eliminar</a></td>

    </tr>
    {%endfor%}

    

</table>
{% endblock %}