{% extends "dashboard.html" %}

{% block contenido %}
<div class="add_movie">
    <h1>AGREGAR PELICULA</h1>
</div>


<form action={{action}}  method="post" id="form_Add" enctype="multipart/form-data">

    <div class="left">

    <div class="name">
        <label for="name">Nombre: </label>
        <input type="text" id="name" name="nombre" value="{{datosEdit[0][1]}}" required >
    </div>

     <div class="duration"> 
        <label for="duration">Duración:</label>
        <input type="text" id="duration" name="duracion" value="{{datosEdit[0][2]}}" required>
    </div> 
    
    <div class="director">
        <label for="director">Director:</label>
        <input type="text" id="director" name="director" value="{{datosEdit[0][3]}}" required>
    </div> 

    <div class="genre">
        <label for="genre">Género: </label>
        <input type="text" id="genre" name="genero" value="{{datosEdit[0][4]}}" required>
    </div> 

    <div class="trailer">
        <label for="trailer">Trailer: </label>
        <input type="text" id="trailer" name="link" value="{{datosEdit[0][5]}}" required>
    </div> 

    <div class="estreno">
        <label for="estreno"> Estreno: </label>
        <input type="text" id="estreno" name="fecha_estreno" value="{{datosEdit[0][6]}}" required>
    </div> 
    
    <div class="actors">
        <label for="actor"> Actores: </label>
        <input type="text" id="actors" name="actores" value="{{datosEdit[0][7]}}" required>
    </div> 

    <div class="synopsis">
        <label for="synopsis">Sinopsis</label>
        <textarea name="sinopsis" id="textSynopsis" required> {{datosEdit[0][8]}} </textarea>
    </div>

</div>

<div class="right">
    <div class="cover" >
        
        <label for="">Caratula</label>

        <div  id=coverBox onclick = "searchImage()">
            <input type="file" id="file" name = "files"  hidden >
            
            <div id= "image" name="caratula">
                
                {%if datosEdit%}
                    <img class="image" src="{{datosEdit[0][9]}}" alt="">
                {%endif%}
            
            </div>

        </div>

    </div>   

    <div class="add">
        <input type="submit" id="submitAdd" value="Agregar">
    </div>
</div>    
</form> 

{% endblock %}