{% extends "dashboard.html" %}

{% block contenido %}
<div class="movie">
    <h1> PELICULAS </h1>
</div>

<div class="searchMovie">
    <label for=""> 
        <h2>Buscar pelicula:</h2> 
    </label>
    <input type="text" id="searchBox">
    <input type="submit" id="searchButton" value="Buscar">

</div>

<table id="tableOfContentsU"> 
    <tr>
        <th> Nombre</th>
        <th> Duracion</th>
        <th> Director </th>
        <th> Genero</th>
        <th> Sinopsis</th>
        <th> caratula</th>
        
    </tr>

     <tr>
        <td>texto1</td>
        <td>texto1</td>
        <td>texto1</td>
        <td>texto1</td>
        <td>texto1</td>
        <td>texto1</td>
        <td>
            <button>
                Editar
            </button>

            <button id="eliminar">
                Eliminar
            </button>
        </td>
    </tr>  
    
</table>
{% endblock %}