<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="/static/assets/css/styleR.css">
    <script src="https://kit.fontawesome.com/3f5ddcfbcc.js" crossorigin="anonymous"></script>

    

</head>
<body id= "body">
    <header>
        <div class="icon__menu">
            <span id="btn_open">&#9776</span>
        </div>

        <div class="name"> 
        
            <h1>Dashboard</h1>
            <h3>Administrativo</h3>
        </div>
        
        
        <a href="#" id = "letter">
            <i class="far fa-envelope"></i>
        </a> <!-- corregir logo, no puede ser <a> -->
        
        <a href="#" id="login">
            <i class="far fa-user"></i>
        </a>
        
    </header>

    <div class="menu__side" id="menu__side">

        <div class="name__page" >

            <a href="/"  class = "logo_header" > 
                <i class="fab fa-contao" id="logo"></i>
            </a>

            <h3 id="nombre" >cine colombia</h3>

        </div>

        <div class="options__menu">

            <button onclick="active(0)">
                <a href="/usuario">
                    <div class="option">
                        <div id = "icon">
                            <i class="fas fa-user-friends"></i>
                        </div>
                        <div class ="nombreOpcion"  >
                        <h4>Usuarios</h4> 
                       </div>
                    </div> 
                </a>
            </button>

            <button onclick="active(1)" >
                <a href="/agregarPelicula">
                    <div class="option">
                        <div id = icon>
                            <i class="fas fa-file-video"></i>
                        </div>
                        <div  class ="nombreOpcion">
                            <h4>Agregar pelicula</h4> 
                       </div>
                    </div> 
                </a>
            </button>
            
            <button onclick="active(2)">            
                <a href="/peliculas">
                    <div class="option">
                        <div id = icon>
                            <i class="fas fa-film"></i>
                        </div>
                        <div  class ="nombreOpcion">
                            <h4>Peliculas</h4> 
                       </div>
                    </div>     
                </a>
            </button>

            <button onclick="active(3)">
                <a href="/Dfunciones">
                    <div class="option">
                        <div id = icon>
                            <i class="fas fa-folder"></i>
                        </div>
                        <div  class ="nombreOpcion">
                            <h4>Funciones</h4> 
                       </div>
                         
                    </div>     
                </a>
            </button>

        </div>

        <div class="foot__page">
            <i class="fab fa-contao" id="logo_foot"></i>
        </div>
    </div>

    <section>

        {% block contenido %}
        {% endblock %}

        
    </section>

    <script src="/static/assets/js/scriptR.js"></script>   
</body>
</html>