{% extends "layout.html" %}
{% block link %}
<link rel="stylesheet" href="/static/assets/css/style_detalle_funciones.css"> 
{% endblock %}
{% block contenido %} 
<body>
    <main>     
        <section>
            <img src="{{funcion[0][10]}}" class="background" alt="...">
            <div class="contenedor-video">
                <iframe src="{{funcion[0][5]}}" title="YouTube video player" 
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
            <div class="Cuadrado">
                <div class="card" style="width: 29rem;left: 90; top: 700px; position:absolute;">
                    <div class="card-body">
                    <h5 class="card-title">{{funcion[0][1]}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Genero: {{funcion[0][4]}}</h6>
                    <p class="card-text"><small class="text-muted">Director: {{funcion[0][3]}} </small></p>
                    <p class="card-text"><small class="text-muted">Estreno: {{funcion[0][6]}}</small></p>
                    <p class="card-text">Actores principales: {{funcion[0][7]}}</p>
                    <p class="card-text"><small class="text-muted">Duración: {{funcion[0][2]}}</small></p>
                    <p class="card-text">Actores principales: {{funcion[0][8]}}</p>
                    </div>
                </div>
            </div>
            <div>
                <div><img class=image_movie src="{{funcion[0][9]}}" />
            </div>
            <div class="Cuadrado2">
                
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                    <h1 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Buenavista
                        </button>
                    </h1>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">2D Doblado 
                            <input type="date" name="fecha">
                        </div>
                        <input class="btn btn-primary" type="button" value="2:10 PM">
                        <input class="btn btn-primary" type="button" value="4:40 PM">
                        <input class="btn btn-primary" type="button" value="7:10 PM">
                    </div>
                </div> 
            </div>
            <div>
                <h4 class="text-center">Pantalla</h4>
            </div>
            <div>
                {%for i in range (10) %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">{{i}}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
        </section>
    </main> 
</body>
{% endblock %}