{% extends "layout.html" %}

{% block contenido %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/assets/css/style_detalle_funciones.css">  
</head>
<body>
    <main>     
        <section>
            <img src="/static/assets/images/Venom.jpeg" class="background" alt="...">
            <div class="contenedor-video">
                <iframe src="https://www.youtube.com/embed/N-rPogaAudU" title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="Cuadrado">
                <div class="card" style="width: 29rem;left: 90; top: 525px; position:absolute;">
                    <div class="card-body">
                    <h5 class="card-title">VENOM: Carnage Liberado</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Genero: Accion/Ciencia Ficción</h6>
                    <p class="card-text"><small class="text-muted">Estreno: 07-Octubre-2021</small></p>
                    <p class="card-text">Eddie y Venom están luchando por coexistir cuando el simbionte más grande y malo se une con Cletus Kasady, un asesino en serie psicótico, desatando Carnage.Tom Hardy regresa a la pantalla.</p>
                    <p class="card-text"><small class="text-muted">Duración: 138 min.</small></p>
                    <p class="card-text">País de Origen: United States of America</p>
                    <p class="card-text">Actores: Tom Hardy, Michelle Williams, Naomie Harris, Reid Scott, Stephen Graham y Woody Harrelson.</p>
                    </div>
                </div>
            </div>
            <div>
                <div><img class=image_movie src="/static/assets/images/p3.jpg" />
            </div>
            <div class="Cuadrado2">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Buenavista
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">2D Doblado</div>
                        <input class="btn btn-primary" type="button" value="2:10 PM">
                        <input class="btn btn-primary" type="button" value="4:40 PM">
                        <input class="btn btn-primary" type="button" value="7:10 PM">
                    </div>
                    </div>
                    <div class="accordion-item">
                </div>    
            </div>
        </section>
    </main> 
</body>
</html>
{% endblock %}