{% extends "layout.html" %}
{% block link %}
<link rel="stylesheet" href="/static/assets/css/style_perfiluser.css">
{% endblock %}

{% block contenido %}
<body onload="cdatos()">
  <h1>Perfil</h1>
  <section class ="contenedor">
      <form action="/updatedatos" method="post">
        <div class="form">
          <div class="grupo">
            <label for="nombre">Nombre: </label>
            <input class="lblfor" type="text" name="nombre" id="nombre" required value={{datos[0][1]}}>
            <label for="usuario">Usuario: </label>
            <input class="lblfor" type="text" name="usuario" id="usuario" required value={{datos[0][2]}}>
            <label for="correo">Correo: </label>
            <input class="lblfor" type="email" name="correo" id="correo" required value={{datos[0][3]}}>
            <label for="celular">Celular: </label>
            <input class="lblfor" type="text" name="celular" id="celular" required value={{datos[0][7]}}>
            <label for="tipodocumento">Tipo de Documento: </label>
            <select class="lblfor" name="tcedula" id="tcedula" required value={{datos[0][6]}}>
              <option value="Cedula de ciudadania">Cédula de ciudadanía</option>
              <option value="Tarjeta de identidiad">Tarjeta de identidiad</option>
              <option value="Pasaporte de extrangería">Pasaporte de extrangería</option>
            </select>
            <label for="documento">N° Documento: </label>
            <input class="lblfor" type="text" name="documento" id="documento" required value={{datos[0][0]}}>
            <label for="fnacimiento">Fecha de Nacimiento: </label>
            <input class="lblfor" type="date" name="fnacimiento" id="fnacimiento" required value={{datos[0][5]}}>
            <label for="departamento">Departamento Residencia: </label>
            <input class="lblfor" type="text" name="departamento" id="departamento" required value={{datos[0][8]}}>
            <label for="ciudad">Ciudad: </label>
            <input class="lblfor" type="text" name="ciudad" id="ciudad" required value={{datos[0][9]}}>
            <label for="contraseña">Confirmar contraseña: </label>
            <input class="lblfor" type="password" name="contraseña" id="contraseña" required>
          </div>
        </div>
        <button class="boton" type="submit" value="actualizar">Actualizar</button>
      </form>
      
  </section>
</body>

{% endblock %}