{% extends "layout.html" %}

{% block contenido %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/assets/css/style_funciones.css">
    
</head>
<body>
    <main>     
        <h1>Funciones</h1>
        <section>
            <div class="container">
                <div class="row">
                    {% for i in funciones %}
                        <div class="col-sm"><img class="card-img-top" src="/static/assets/images/p1.jpg" />
                            <div class="movie_body">
                                <h5 class="movie_title">{{i[0]}}</h5>
                                <p class="desc">Genero: {{i[1]}}</p>
                                <p class="desc">Duracion: {{i[2]}}</p>
                                <p><a class="btn" role="button" href="/detallefunciones/{{i[3]}}">Ver...</a></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>  
            </div>
        </section>
    </main> 
</body>
</html>






{% endblock %}