{% extends "layout.html" %}

{% block contenido %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/assets/css/style_perfiluser.css">
  </head>

<body>
  <h1>Perfil</h1>
  <section class ="contenedor">
      <form action="/updatedatos" method="post" onload="cdatos();">
        <div class="form">
          <div class="grupo">
            <label for="nombre">Nombre: </label>
            <input class="lblfor" type="text" name="nombre" id="nombre" required placeholder="Nombres">
            <label for="usuario">Usuario: </label>
            <input class="lblfor" type="text" name="usuario" id="usuario" required placeholder=  >
            <label for="correo">Correo: </label>
            <input class="lblfor" type="email" name="correo" id="correo" required>
            <label for="celular">Celular: </label>
            <input class="lblfor" type="text" name="celular" id="celular" required>
            <label for="tipodocumento">Tipo de Documento: </label>
            <select class="lblfor" name="tcedula" id="tcedula" required>
              <option value="Cedula de ciudadania">Cédula de ciudadanía</option>
              <option value="Tarjeta de identidiad">Tarjeta de identidiad</option>
              <option value="Pasaporte de extrangería">Pasaporte de extrangería</option>
            </select>
            <label for="documento">N° Documento: </label>
            <input class="lblfor" type="text" name="documento" id="documento" required>
            <label for="fnacimiento">Fecha de Nacimiento: </label>
            <input class="lblfor" type="date" name="fnacimiento" id="fnacimiento" required>
            <label for="departamento">Departamento Residencia: </label>
            <input class="lblfor" type="text" name="departamento" id="departamento" required>
            <label for="ciudad">Ciudad: </label>
            <input class="lblfor" type="text" name="ciudad" id="ciudad" required>
            <label for="contraseña">Confirmar contraseña: </label>
            <input class="lblfor" type="password" name="contraseña" id="contraseña" required>
          </div>
        </div>
        <button class="opcion" type="submit" value="actualizar">Actualizar</button>
      </form>
      <a class="btn btn-outline-warning bt2" href="/cerrarsesion" role="button">SALIR</a>
  </section>
</body>
</html>

{% endblock %}